<h1 style="text-align: center;color: white;">Tech Talks</h1>
<video width="320" height="240" style="margin-left:10px;margin-right: 30px;" controls >
  <source src="./assets/Images/Taylor.mp4" type="video/mp4">
</video>
<video width="320" height="240" style="margin-right: 30px;" controls >
<source src="./assets/Images/Minions.mp4" type="video/mp4">
</video>
<video width="320" height="240" controls >
  <source src="./assets/Images/GoT.mp4" type="video/mp4">
</video>
<!-- <video width="320" height="240" controls>
  <source src="./assets/Images/GoT.mp4" type="video/mp4">
</video> -->
